* {
    margin: 0;
    padding: 0;
    
}

body{
    width: 100%;
    background-image: url(https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1722988800&semt=ais_hybrid);
    background-repeat: no-repeat;

    

}